* {
    color: darkgray;
    border-color: darkgray;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

div.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav {
    width: 100%;
    height: max(1.5em, min(2vw, 2vh));
    font-size: max(1.5em, min(2vw, 2vh));
    border-bottom: solid 2px;
    border-top: solid 2px;
}

nav>a {
    text-decoration: none;
    white-space: nowrap;
}

iframe.content {
    border: none;
    height: calc(100% - (78px + max(1.5em, min(2vw, 2vh))));
    width: 100%;
    float: left;
    padding-top: 10px;
}

h1,
h2 {
    margin-top: 0;
}

img.logo {
    height: 100%;
}

span.title {
    font-size: min(6.5vw, 3em);
    display: inline-block;
}

a.header {
    text-decoration: none;
}